.photo {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.photo:hover {
  width: 300px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.card {
  width: 300px;
  height: 400px;
  display: inline-block;
  background-image: linear-gradient(-60deg, #f48c41, #f9d993);
  /* display: flex;
  flex-wrap: wrap; */
  /* padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px; */
  list-style: none;
  opacity: 0.75;
  vertical-align: top;
}

.card:hover {
  /* width: 300px;
  height: 400px;
  display: inline-block;
  background-image: linear-gradient(-60deg, #f48c41, #f9d993);
  list-style: none; */
  opacity: 1;
}

.card:hover p.title {
  text-overflow: initial;
  white-space: initial;
}

.card:hover p.album {
  display: none;
}

.card:hover p.artist {
  display: none;
}

#preview {
  display: none;
}

p{
    text-overflow:ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
}

.title {
  display: inline-block;
  font-size: 1.3em;
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Source Serif Pro', serif; */
  padding-top: 10px;
  color: white;
}

.artist {
  font-size: .9em;
  font-family: 'Rubik', sans-serif;
  color: #474747
}

.album {
  font-size: 0.7em;
  font-family: 'Rubik', sans-serif;
  color: #fc8632;
}

/* p:hover{
    text-overflow:clip;
    width:auto;
    white-space: normal;
} */
